@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600');

body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    width: 100%;
}

a, p, h1, h2, h3, ul, li, div, button {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

button {
	border: none;
}

button:focus {
	outline: none;
}

a {
    text-decoration: none;
}
h4{
    font-family: 'Source Sans Pro', sans-serif; 
}
h1 {
    padding-bottom: 10px;
}

.content {
	padding: 50px;
	max-width: 1000px;
}

#container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
	align-items: center;
}

/*** FOOTER ***/
footer {
    background-color: #000000a0;
    width: 100%;
	display: flex;
	justify-content: center;
}

footer p {
    color: white;
}

footer a {
    color: white;
    font-weight: bold;
}

footer .content {
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
}

/*** NAVIGATION ***/
header {
    width: 100%;
	padding: 5px 0;
	display: flex;
	justify-content: center;
}

header .content {
    padding: 10px 50px;
    display: flex;
    width: calc(100% - 100px);
    justify-content: space-between;
}

#logo {
    width: 150px;
    height: 40px;
    filter: drop-shadow(3px 3px 5px #222);
}

/*** ACCEUIL ***/
#search {
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 7px rgb(97, 96, 96);
    display: flex;
    justify-content: flex-end;
    transition: box-shadow 0.2s ease;
	margin-left: 20px;
}

#search img {
    user-select: none;
    padding: 5px;
}

#search:hover {
    box-shadow: #3b3b3b 1px 1px 10px;
    cursor: pointer;
}

#search:active {
    box-shadow: #3b3b3b 0px 0px 3px;
}

#search input {
	max-width: 200px;
    border-radius: 10px 0 0 10px;
    padding: 0 10px;
    background-color: #efefef;
    border: 0
}

#search input:focus {
	outline: none;
}

#select-criterias {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-basis: 2;
    background-color: #0000005b;
    box-shadow: #00000050 0px 0px 15px inset;
    border-radius: 10px;
    margin-bottom: 20px;
}

.selection {
    display: flex;
    flex-direction: column;
    flex: 1;
	padding: 20px;
	min-width: 200px;
}

.selection h1 {
    color: white;
}

.selection div {
    color: white;
}

#methode-paiement {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

#commentaire {
	flex-basis: 100%;
}

#commentaire textarea {
	background-color: #ffffff50;
	border-color: #ffffff;
	border-radius: 5px;
	resize: none;
	color: white;
    transition: background-color 0.2s ease;
}

#commentaire textarea::placeholder {
	color: #cccccc;
}

#commentaire textarea:focus {
	outline: none;
	background-color: #ffffff30;
}

div .content {
	flex: 1;
}

#main-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: calc(100% - 100px);
}

#main-info {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.button {
    border: 0;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1em;
    font-weight: 600;
    color: white;
    background-color: #c74b4b;
    box-shadow: 1px 1px 7px rgb(97, 96, 96);
	transition: 0.2s ease;
	user-select: none;
}

.button:disabled,
.button[disabled],
.button:disabled:hover {
  background-color: #cccccc;
  color: #666666;
  cursor: default;
  box-shadow: none;
}

.button:hover {
    background-color: #c44e4e;
    color: #eeeeee;
	box-shadow: #3b3b3b 1px 1px 10px;
	cursor: pointer;
}

.button:active {
    background-color: #963535;
    color: #dddddd;
    box-shadow: #3b3b3b 0px 0px 3px;
}

#bg {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url("../img/other.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(25px);
    transform: scale(1.1)
}

#main-description {
	color: white;
	text-shadow: #000000 1px 0 10px;
	align-self: flex-start;
	margin-bottom: 15vh;
}

#main-description h2 {
	font-size: 1.2em;
	font-weight: 400;
}

#hebergement {
	text-align: right;
}

/*** RESTAURANTS ***/
#restaurant-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.restaurant-description {
    margin-bottom: 20px !important;
}

.restaurant-card {
    flex: 1 0 45%;
    min-width: 350px;
    width: auto;
    height: 500px;
    background-color: white;
    color: #252525;
    border-radius: 5px;
    margin: 10px;
    box-shadow: #3b3b3b 1px 1px 10px;
    transition: transform 0.2s ease;
}

.restaurant-card:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.restaurant-image {
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: 275px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
}

#image1 {
    background-image: linear-gradient(transparent, black), url("../img/restaurants/restaurant1.jpg");
}

#image2 {
    background-image: linear-gradient(transparent, black), url("../img/restaurants/restaurant2.jpg");
}

#image3 {
    background-image: linear-gradient(transparent, black), url("../img/restaurants/restaurant3.jpg");
}

.restaurant-image-info {
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
}

.restaurant-image-info .address {
    font-size: 1.5em;
    padding-right: 15px;
}

.restaurant-info {
    padding: 10px;
    height: calc(100% - 290px);
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.restaurant-ratings {
    display: flex;
    align-items: center;
}

.num-ratings {
    padding-left: 5px;
    font-weight: 600;
    font-size: 1.2em;
}

.restaurant-type {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
}

.type-cuisine {
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    border-radius: 15px;
    padding: 0 15px;
    box-shadow: #3b3b3b 0px 1px 3px;
    background-color: #962e2e;
    color: white;
}

.restaurant-hours {
    display: flex;
    justify-content: space-around;
}

.restaurant-hours .hours {
    font-weight: 600;
    text-align: right;
}

/*** CONFIRMATION ***/
.confirm-paiement {
	margin-bottom: 5vh !important;
}

.fields input {
	background-color: transparent;
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: 1px solid #dddddd;
	margin-bottom: 1px;
	color: white;
}

.fields input:focus {
	border-bottom: 2px solid #dddddd;
	margin-bottom: 0px;
	outline: none;
}