<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Commande</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../style/style.css'>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
		crossorigin="anonymous"></script>
	<script src="../js/commande.js"></script>
    <style>
        td {
            padding: 10px 40px 10px 0px;
            text-align: left;
        }
        tr.total-row > td {
            border-top: 1px solid;
        }
        .confirm-command {

        }
    </style>
</head>

<body>
    <div id="container">
        <div id="bg"></div>
        <header>
            <div class="content">
                <a href="/">
                    <img src="../img/icon.png" id="logo">
                </a>
            </div>
        </header>

        <section class="content" >
            <div id="main-description" class="confirm-command">
                <h1>Confirmation de la commande</h1>
            </div>   
            <div id="main-info">
                <div id="select-criterias">
                    
                    <div class="selection">
                        <h1>Facture</h1>
                        <div id="address-fields">
                            <table>
                                <tr>
                                    <th align="left"> Plats </th>
                                    <th> Prix </th>
                                </tr>
                                <tr>
                                    <td>Korean Chicken (2) </td>
                                    <td>44 00$</td>
                                </tr>
                                <tr>
                                    <td>Yougurt sans sucre  </td>
                                    <td>15.00 $</td>
                                </tr>
                                <tr>
                                    <td>Hamburger au boeuf </td>
                                    <td>18.00 $</td>
                                </tr>
                                <tr>
                                    <td>Ice Cream Sunday </td>
                                    <td>15.50 $</td>
                                </tr>
                                <tr class="total-row ">
                                    <td >Total : </td>
                                    <td>92.50$</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <a href="/layout/confirmation.html">
                    <p class="button">Confirmer l'achat</p>
                </a>
            </div>
        </section>

        <footer>
            <div class="content">
                <p>
                    <b>SEG 3525</b> - Ce site web n'est pas affilié avec l'Université d'Ottawa
                </p>
                <p id="hebergement">
                    Hébergé sur
                    <a href="https://github.com/BenJeau/SEG3525-Lab">
                        GitHub
                        <i class="fa fa-github"></i>
                    </a>
                </p>
            </div>
        </footer>
    </div>

</body>

</html>