<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Confirmation de paiment</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../style/style.css'>
</head>

<body>
    <div id="container">
        <div id="bg"></div>
        <header>
            <div class="content">
                <a href="/">
                    <img src="../img/icon.png" id="logo">
                </a>
            </div>
        </header>

        <section class="content" id="main-content">

			<div id="main-description" class="confirm-paiement">
				<h1>Confirmation de paiement</h1>
				<h2>Votre total est de <b>104.52$</b></h2>
			</div>
			<div id="main-info">
				<div id="select-criterias">
					<div class="selection">
						<h1>Méthode de paiement</h1>

						<div>
							<input type="radio" name="city" value="credit"> Crédit<br>
							<input type="radio" name="city" value="debit"> Débit<br>
							<input type="radio" name="city" value="cash"> Cash à la livraison<br>
						</div>
					</div>
					<div class="selection">
						<h1>Addresse de livraison</h1>

						<div id="address-fields">
							Numéro de rue : <input type="search" name="numeroRue" placeholder=""> <br>
							Nom de rue : <input type="search" name="nomRue" placeholder=""> <br>
							Ville : <input type="search" name="ville" placeholder=""> <br>
							Code postal : <input type="search" name="codePostal" placeholder=""> <br>
							Pays : <input type="search" name="pays" placeholder=""> <br>
						</div>
					</div>
					<div class="selection" id="commentaire">
						<h1>Commentaire</h1>
						
						<textarea name="Text1" cols="40" rows="5"></textarea>
					</div>
				</div>
				<a href="/">
					<p class="button">Confirmer le paiement</p>
				</a>
			</div>
        </section>

                

        
        <footer>
            <div class="content">
                <p>
                    <b>SEG 3525</b> - Ce site web n'est pas affilié avec l'Université d'Ottawa
                </p>
                <p id="hebergement">
                    Hébergé sur
                    <a href="https://github.com/BenJeau/SEG3525-Lab">
                        GitHub
                        <i class="fa fa-github"></i>
                    </a>
                </p>
            </div>
        </footer>
    </div>
</body>

</html>